<p>display-data works!</p>




<div class="cont" *ngIf="visible">
     <div class="card" *ngFor="let studernt of studentData let i = index">
        <p>{{studernt.name}}</p>
        <p>{{studernt.age}}</p>
        <p>{{studernt.grade}}</p>
        <p>{{studernt.address.street}}</p>
        <p>{{studernt.address.city}}</p>
        <p>{{studernt.address.zip}}</p>
        <button (click)="delete(i)" class="btn btn-danger">Delete</button>
        <button (click)="edit(i)" class="btn btn-warning">Edit</button>
     </div>
</div>


